<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Lengow Test{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% block stylessheets %}
            {% stylesheets 
            	"%kernel.root_dir%/Resources/assets/css/*.css"
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <style>
            body {
            	padding-top: 50px;
            	padding-bottom: 20px;
            }
            </style>
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {%  block header %}
        	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        		<div class="container">
        			<div class="navbar-header">
        				<button type="button" class="navbar-toggle collapsed"
        					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        					aria-controls="navbar">
        					<span class="sr-only">Menu</span> <span
        						class="icon-bar"></span> <span class="icon-bar"></span> <span
        						class="icon-bar"></span>
        				</button>
        				<a class="navbar-brand" href="{{ path('orders_index') }}">Lengow Test</a>
        			</div>
        			<div id="navbar" class="navbar-collapse collapse">
        				<ul class="nav navbar-nav navbar-right">
        					<li><a href="{{ path('order_new') }}">New Order</a></li>
        					<li class="dropdown">
        						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Download Orders <span class="caret"></span></a>
        						<ul class="dropdown-menu">
        							<li><a href="{{ path('orders_get') }}">All (JSON)</a></li>
        							<li><a href="{{ path('orders_get', {'_format':'yml'}) }}">All (YAML)</a></li>
        							<li role="separator" class="divider"></li>
        							<li><a href="{{ path('orders_get', {'idOrder':'111-2222222-3333333', '_format':'json'}) }}">One only (JSON)</a></li>
        							<li><a href="{{ path('orders_get', {'idOrder':'111-2222222-3333333', '_format':'yml'}) }}">One only (YAML)</a></li>
        						</ul>
    						</li>
        				</ul>
        			</div>
        		</div>
        	</nav>
        {%  endblock %}
        
    	<div class="jumbotron">
    		<div class="container">
    			<h1>Manage Orders</h1>
    		</div>
    	</div>
    
    	<div class="container">
    		{% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div class="alert alert-{{ label }}">
                        {{ flash }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block body %}
        	{% endblock %}
    	</div>
    	
        {% block javascripts %}
            {% javascripts
                "%kernel.root_dir%/Resources/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"
                "%kernel.root_dir%/Resources/assets/js/vendor/jquery-1.11.2.min.js"
                "%kernel.root_dir%/Resources/assets/js/vendor/bootstrap.min.js"
                "%kernel.root_dir%/Resources/assets/js/main.js"
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            	{% if form is defined %}
            	<script type="text/javascript">
                    var productCount = '{{ form.products|length }}';
            
            		$(document).ready(function() {
            			var productList = $('#product-fields-list');

        			    productList.find('li').each(function() {
            			    if ($(this).hasClass("product")) {
            			    	addProductFormDeleteLink($(this));
            			    }
        			    });
                		
            			$('#add-another-product').click(function(e) {
            				e.preventDefault();
            
            				var newWidget = productList.attr('data-prototype');
            				newWidget = newWidget.replace(/__name__/g, productCount);
            				productCount++;

            				var newLi = $('<li class="product"></li>').html(newWidget);
            				addProductFormDeleteLink(newLi);
            				newLi.appendTo(productList);
            			});
            		});

            		function addProductFormDeleteLink($productFormLi) {
            		    var $removeFormA = $('<a href="#">delete this product</a>');
            		    $productFormLi.append($removeFormA);

            		    $removeFormA.on('click', function(e) {
            		        e.preventDefault();
            		        $productFormLi.remove();
            		    });
            		}
            	</script>
            	{% endif %}
        {% endblock %}
    </body>
</html>
