{% extends "::base.html.twig" %}

{% block title %}
New Order
{% endblock %}

{% block body %}
<div class="col-md-12">
	{{ form_start(form) }}
	{{ form_errors(form) }}
	{# ... #} {# store the prototype on the data-prototype attribute #}
	<ul id="product-fields-list"
		data-prototype="{{ form_widget(form.products.vars.prototype)|e }}">
		{% for productField in form.products %}
		<li class="product">{{ form_errors(productField) }} {{ form_widget(productField) }}</li>
		{% endfor %}
	</ul>

	<a href="#" id="add-another-product">Add another product</a> {# ... #}
	{{ form_end(form) }}
</div>

{% endblock %}
